.header {
    background-color: rgb(197, 179, 179);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
    &--container {
        padding: 28px 0;

        .container {
            &--nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                display: flex;
                align-items: center;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                .nav {
                    
                    &--left {
                        margin-right: 350px;
                         display: flex;
                        justify-content: space-between;
                        cursor: pointer;

                        svg:hover{
                            fill: red;
                        }
                        svg {
                            margin-left: 12px;
                            margin-right: 39px;
                        }
                    }
                    &--right{
                        display: flex;
                        justify-content: space-between;
                        cursor: pointer;

                        
                        svg{
                            margin-left: 35px;
                            margin-right: 14px;

                            
                        }
                    }
                }
            }
        }

    }
}