.header {
  background-color: rgb(197, 179, 179);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}
.header--container {
  padding: 28px 0;
}
.header--container .container--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.header--container .container--nav .nav--left {
  margin-right: 350px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.header--container .container--nav .nav--left svg:hover {
  fill: red;
}
.header--container .container--nav .nav--left svg {
  margin-left: 12px;
  margin-right: 39px;
}
.header--container .container--nav .nav--right {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.header--container .container--nav .nav--right svg {
  margin-left: 35px;
  margin-right: 14px;
}

.navBurger {
  background: #002A32;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  transition: transform 0.7s, opacity 1s;
  transform: translateX(100%);
  opacity: 0;
}

.navBurger.show {
  transform: translateX(0%);
  opacity: 1;
}

.list {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.hamburger {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  margin-left: auto;
  width: 45px;
  height: 35px;
  z-index: 1;
}

.hamburger span {
  position: absolute;
  left: 0;
  background: #ffffff;
  width: inherit;
  height: 5px;
  transition: transform 0.5s, opacity 0.5s;
}

.top-line {
  top: 0px;
}

.center-line {
  top: 15px;
}

.bottom-line {
  bottom: 0px;
}

.top-line.active {
  transform: translateY(15px) rotate(45deg);
}

.center-line.active {
  opacity: 0;
}

.bottom-line.active {
  transform: translateY(-15px) rotate(-45deg);
}

.list {
  position: relative;
  transform: skewY(-15deg);
}

.list-item {
  width: 50%;
  position: relative;
  transition: all 0.5s ease;
}
.list-item:hover {
  background-color: rgb(27, 109, 136);
  transform: translateX(-50px);
}
.list-item > a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.list-item > a > svg {
  margin-right: 10px;
  margin-left: 10px;
}

.list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: darkcyan;
  filter: brightness(0.7);
  transform-origin: right;
  transform: skewY(45deg);
}

.main {
  padding-top: 92px;
}
.main--slider {
  display: flex;
  flex-direction: row;
}
.main--slider .slider--firstPage {
  padding-left: 95px;
  padding-top: 165px;
  padding-bottom: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/1634696881_1-krot-mobi-p-mnogo-raznikh-mashin-mashini-krasivo-foto-1.jpg);
}
.main--slider .slider--secondPage {
  padding-left: 95px;
  padding-top: 165px;
  padding-bottom: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/Audi_Many_486451.jpg);
}
.main--slider .slider--thirdPage {
  padding-left: 95px;
  padding-top: 165px;
  padding-bottom: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/1559021879_6.jpg);
}

.text > span {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 152.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.045em;
  color: white;
}
.text > p {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 133.5%;
  letter-spacing: 0.045em;
  color: white;
  max-width: 350px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  color: #3E5860;
}

ul li {
  list-style: none;
  color: white;
}

li + li {
  margin-top: 80px;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  transition: all 0.4s ease;
}
.icon:hover {
  color: aqua;
}
.icon:hover > svg {
  fill: aqua;
}
.icon:hover > svg > path {
  fill: aqua;
}/*# sourceMappingURL=app.css.map */